<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Diploma_cs.Properties.Settings.filterConnectionString"
            connectionString="Data Source=FORPATRIL-PC;Initial Catalog=filter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Diploma_cs.Properties.Settings.filterConnectionStringNote"
            connectionString="Data Source=FORPATRIL-VAIO;Initial Catalog=filter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>